@charset "utf-8";

/* CSS Document */

body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFFBF0;
    margin: 0;
    padding: 0;
    color: #000;
}

.logo img {
    width: 250px;
    height: 125px;
}

input.form-control {
    width: 300px;
    float: left;
    border-radius: 10px;
}

button.btn.btn-primary {
    border-radius: 10px;
}

.search {
    padding-top: 28px;
    padding-left: 70px;
}

.contact {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    padding-top: 24px;
}

.contact ul {
    list-style: none;
}

li.Hotline {
    background: url(img\icon-phone.png);
    padding-left: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: #F00;
}

li.Email {
    background: url(img\icon-email.jpg);
    padding-left: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: #F00;
}

#menu ul {
    list-style-type: none;
    background: #06F;
    text-align: center;
}

#menu ul li {
    display: inline-table;
    width: auto;
    height: 40px;
    line-height: 40px;
    position: relative;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
}

#menu ul li a {
    color: #FFF;
    text-decoration: none;
    display: block;
}

#menu ul li a:hover {
    background: #FFF;
    color: #03C;
}

#menu ul li>.sub-menu {
    display: none;
    position: absolute;
}

#menu ul li:hover .sub-menu {
    display: block;
}

.sidebar1 {
    float: left;
    width: 250px;
    ;
    background: #FFF;
}

.sidebar1 ul {
    list-style: none;
}

.sidebar1 ul cat {
    list-style: none;
    border-top: 1px solid #F00;
    font-weight: bold;
    width: 50px;
}

.sidebar1 ul li {
    font-size: 15px;
    color: black;
    line-height: 45px;
    text-align: center;
    border-bottom: 2px solid #0CF;
    background: white;
    position: relative;
}

.sidebar1 ul li a {
    color: black;
    text-decoration: none;
    display: block;
}

.sidebar1 ul li a:hover {
    background: white;
    color: black;
}

.sidebar1 ul li .sub-menu {
    position: absolute;
    left: 250px;
    top: -1px;
    display: none;
    width: 240px;
    z-index: 10;
    border: 2px solid #0cF;
}

.sidebar1 ul li:hover .sub-menu {
    display: block;
}

h3 {
    color: red;
    font-size: 17px;
    font-weight: bold;
    padding-top: 21px;
    padding-bottom: 20px;
    border-bottom: 2px solid #0CF;
}

.content {
    padding: 5px 5px;
    width: 100%;
    float: left;
    background: white;
}

.content ul,
.content ol {
    padding: 0 15px 15px 40px;
}

.boxsp {
    width: 25%;
    float: left;
    text-align: center;
}

.tieude {
    border-bottom: 0px solid #111;
    height: 45px;
    margin-top: 12px
}

.tieude h2 {
    float: left;
    display: block;
    margin: 0;
    padding: 5px 10px 10px 10px;
    background: white;
    color: Black;
    font-size: 20px;
}

.tieude h2 a {
    color: #fff;
    text-transform: uppercase
}

.mframe {
    border: 1px solid #ccc;
    border-top: none;
    position: relative;
    background: white;
}

.mframe::after {
    content: "";
    display: block;
    clear: both
}

.boxsp .frame {
    margin: 2px;
    position: relative;
    border: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.boxsp .frame .hinh a img {
    max-width: 90%;
    height: 300px;
    width: 400px;
    padding-bottom: 10px;
}

h3 {
    color: red;
    font-size: 17px;
    font-weight: bold;
    padding-top: 21px;
    padding-bottom: 20px;
    border-bottom: 2px solid #0CF;
}

.boxsp .frame .namesp {
    color: green;
}

ul,
ol,
dl {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}

a img {
    border: none;
}

a:link {
    color: #414958;
    text-decoration: none;
}

a:visited {
    color: #4E5869;
    text-decoration: underline;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.footer {
    padding: 10px 0;
    background-color: #6F7D94;
    position: relative;
    clear: both;
}

.unpadded {
    padding: 0!important
}

.unpadded-y {
    padding-top: 0!important;
    padding-bottom: 0!important
}

.basic-box {
    box-shadow: none!important;
    border: 0!important;
    border-radius: 0!important;
}

.bg-sd {
    background: rgb(30, 74, 28)
}

.trans-bcolored {
    background: transparent!important;
}

.wm-menu.nav-main {
    margin: 0;
}

#row-fotter-one .ui.menu {
    background: transparent;
}

.banner {
    background-color: #FFF;
    border-bottom: 1px solid #F5F5F5;
}

.banner .wm-module.wm-search button.ui.button {
    display: none;
}

.banner .wm-module.wm-search input[type=text] {
    border: 1px solid #36ba34!important;
    border-radius: 3px!important;
}

.banner .wm-module.wm-menu>.item,
.banner .wm-module.wm-menu .menu.right>.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .wm-module.wm-menu>.item:hover,
.banner .wm-module.wm-menu .menu.right>.item:hover {
    background: #e7e7e7!important;
}

.banner .wm-module.wm-menu.icon.labeled>.item i.icon,
.banner .wm-module.wm-menu .menu.right>.item i.icon {
    font-size: 3em!important;
    color: #36ba34;
}

.banner .wm-module.wm-menu>.item i.icon.dropdown {
    display: none
}

#row-fotter-one .ui.menu .item,
#row-fotter-one .ui.menu .item:hover {
    color: #fff;
}


/* #row-fotter-one .header.item {
    font-size:
} */

#row-fotter-one .wm-module.wm-menu .header.item,
#row-fotter-one .wm-free-text .ui.header {
    font-size: 0.9em!important;
    color: #fff;
    text-transform: uppercase;
    padding: .92857143em 1.14285714em;
}

#row-fotter-one .wm-module.wm-menu .header.item,
#row-fotter-one .wm-free-text .ui.header {
    font-size: 1em!important;
    color: #fff;
    text-transform: uppercase;
    padding: .92857143em 1.14285714em;
    /* margin: 0; */
}

.wm-module.wm-product .header {
    font-size: 2em;
}

div#row-fotter-one .wm-module.wm-menu .item:not(.header),
div#row-fotter-one .wm-module.wm-free-text .content {
    color: #ccc!important;
    font-size: .9em!important;
    text-transform: lowercase
}

.bg-ft.wm-mobile.column {
    background: #404040 url(http://amthuc.webmau.vn/web/shop/images/amthuc/bread.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.owl-carousel .owl-item img {
    max-width: 100%;
    margin: auto;
    width: initial!important;
}

.wm-module.wm-product .content .header h2 {
    font-size: 1.1em;
}

.lbl-ft>.header {
    font-size: 3em!important;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    color: #36ba34;
    margin-bottom: 1.3em;
    border: none!important;
}

.wm-module.lbl-sd>.header {
    border: none!important;
    position: relative;
    overflow: hidden;
    color: #555;
    font-size: 1.4em;
    text-transform: uppercase;
}

.wm-module.lbl-sd>.header:after {
    position: absolute;
    content: "";
    top: 53%;
    left: auto;
    height: 1px;
    background: #d4d4d5;
    z-index: -1;
    width: 100%;
    margin-left: 20px;
}

.wm-module.wm-post .image img,
.wm-module.wm-product .image img {
    border-radius: 100%!important;
    overflow: hidden;
}

.wm-module.wm-post .image.wm-dimmer,
.wm-module.wm-product .image.wm-dimmer {
    background: transparent;
}

.wm-module .card>.content {
    border: 0!important;
}

.wm-module.wm-product .card,
.wm-module.wm-post .card {
    box-shadow: none!important
}

.wm-module.wm-product,
.wm-module.wm-post:not(:last-child) {
    margin-bottom: 4em;
}

.wm-module.wm-product .right.floated.meta {
    margin-top: 10px;
    display: inline-block;
}

.bg-img-primary.wm-mobile.column {
    background: transparent url(http://amthuc.webmau.vn/web/shop/images/amthuc/posts/footer_info_img_bg.jpg) no-repeat center bottom;
    padding-bottom: 150px!important;
}

.bg-img-primary.wm-mobile.column .container {
    background: #fff;
}

.wm-module.wm-breadcrumb .segment {
    box-shadow: none;
    border: navajowhite;
    padding: 5px 0;
}

.lbl-ft {
    margin-top: 20px;
}

.lbl-ft h3 {
    display: none;
}

.lbl-ft .ui.dividing.header {
    padding: 0;
}

.title-tintuc h1 {
    color: #36ba34;
    font-size: 40px;
}

.title-tintuc h1:after {
    width: 100%;
    height: 2px;
    background: #36ba34;
    position: absolute;
    left: 0;
    bottom: 0;
}

.hide {
    visibility: hidden;
}

.title-tintuc {
    position: relative;
}

.wm-module.wm-post .image img {
    border-radius: 5px!important;
}

.wm-module.wm-image .image-32:before {
    z-index: 2;
    background: rgba(0, 0, 0, 0.51);
}

.wm-module.wm-image .image-32 {
    cursor: auto;
}

@media (max-width:767px) {
    .wm-widget.wm-cart:after {
        display: block;
        clear: both;
        content: "";
        margin-bottom: 15px;
    }
}

.wm-module.wm-image .image-9:before {
    z-index: 2;
    background: rgba(0, 0, 0, 0.51);
}

.wm-module.wm-image .image-9 {
    cursor: pointer;
}

.ui.icon.input>i.icon:after,
.ui.icon.input>i.icon:before {
    width: 50%;
}

.ui.action.input:not([class*="left action"])>input {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border: 1px;
}